/**
 * (P)reset - Grid
 */

// Default - No Gutters
.grid(@cols: 12; @gutt: 0;) when (@gutt = 0){
	.row-@{cols}{
		.clearfix;
		.grid-default(@cols, @gutt);
		.grid-responsive(@tablet, sm, @cols, @gutt);
		.grid-responsive(@phone, xs, @cols, @gutt);
	}
}

// Gutters
.grid(@cols: 12; @gutt: 0;) when (@gutt > 0){
	@gutter: @gutt;
	.gutt{
		.row-@{cols}{
			margin-left: @gutter / -1; margin-right: @gutter / -1;
			overflow: auto;
			/* TEST */ overflow-x: visible; /* TEST */
			.clearfix;
			.grid-default(@cols, @gutter);
			.grid-responsive(@tablet, sm, @cols, @gutter);
			.grid-responsive(@phone, xs, @cols, @gutter);
		}
	}
}

.clearfix{
	&:before, &:after{
		content: ' ';
		display: table;
	}
	&:after{ clear: both; }
}

/**
 * Generate columns
 */

.grid-default(@cols: @cols; @gutter; @i: 1;) when (@i <= @cols){
	> .col-@{i}{
		.set-col-size(@cols, @gutter, @i);
	}
	.grid-default(@cols, @gutter, @i + 1);
}

.grid-responsive(@device; @prefix; @cols; @gutter){
	@media @device{ .gen-cols(@prefix, @cols, @gutter); }
}

.gen-cols(@prefix; @cols; @gutter; @i: 1;) when (@i <= @cols){
	> .col-@{prefix}-@{i}{
		.set-col-size(@cols, @gutter, @i);
	}
	.gen-cols(@prefix, @cols, @gutter, @i + 1);
}

/**
 * Mixins
 */

.set-col-size(@cols; @gutter; @i){
	width: (100% / @cols) * @i;
	.has-gutter(@gutter);
}

.has-gutter(@gutter) when (@gutter > 0){
	padding-left: @gutter; padding-right: @gutter;
}

[class*=row]{ > [class*=col]{ float: left; }}