/**
 * (P)reset - Grid
 */

// Default - No Gutters
.grid(@cols: 12; @gutt: 0;) when (@gutt = 0){
	.row-@{cols}{
		.clearfix;
		.grid-default(@cols, @gutt);
		.grid-responsive(@tablet, sm, @cols, @gutt);
		.grid-responsive(@phone, xs, @cols, @gutt);
	}
}

// Gutters
.grid(@cols: 12; @gutt: 0;) when (@gutt > 0){
	@gutter: @gutt;
	.gutt{
		.row-@{cols}{
			margin-left: @gutter / -1; margin-right: @gutter / -1;
			overflow: auto;
			/* TEST */ overflow-x: visible; /* TEST */
			.clearfix;
			.grid-default(@cols, @gutter);
			.grid-responsive(@tablet, sm, @cols, @gutter);
			.grid-responsive(@phone, xs, @cols, @gutter);
		}
	}
}

.clearfix{
	&:before, &:after{
		content: ' ';
		display: table;
	}
	&:after{ clear: both; }
}

/**
 * Generate columns
 */

.grid-default(@cols: @cols; @gutter; @i: 0;) when (@i <= @cols){
	> .col-@{i}{
		.set-col-size(@cols, @gutter, @i);
	}
	> .col-offset-@{i}{ .grid-offset(@cols, @i); }
	> .col-push-@{i}{ .grid-push(@cols, @i); }
	> .col-pull-@{i}{ .grid-pull(@cols, @i); }
	.grid-default(@cols, @gutter, @i + 1);
}

.grid-responsive(@device; @prefix; @cols; @gutter){
	@media @device{ .gen-cols(@prefix, @cols, @gutter); }
}

.gen-cols(@prefix; @cols; @gutter; @i: 0;) when (@i <= @cols){
	> .col-@{prefix}-@{i}{
		.set-col-size(@cols, @gutter, @i);
	}
	> .col-@{prefix}-offset-@{i}{ .grid-offset(@cols, @i); }
	> .col-@{prefix}-push-@{i}, > .col-push-@{prefix}-@{i}{ .grid-push(@cols, @i); }
	> .col-@{prefix}-pull-@{i}, > .col-pull-@{prefix}-@{i}{ .grid-pull(@cols, @i); }
	.gen-cols(@prefix, @cols, @gutter, @i + 1);
}

/**
 * Mixins
 */

.set-col-size(@cols; @gutter; @i){
	width: (100% / @cols) * @i;
	.has-gutter(@gutter);
}

.has-gutter(@gutter) when (@gutter > 0){
	padding-left: @gutter; padding-right: @gutter;
}


.grid-offset(@cols; @i){
	margin-left: ((100% / @cols) * @i);
}
.grid-push(@cols; @i){
	left: ((100% / @cols) * @i);
	right: auto;
}
.grid-pull(@cols; @i){
	right: ((100% / @cols) * @i);
	left: auto;
}

[class*=row]{
	> [class*=col]{ float: left; }
	> [class*=push-],
	> [class*=pull-]{ position: relative; z-index: 1; }
}